@font-face {
  font-family: 'font-hui';
  src:
    url('fonts/font-hui.ttf?henoks') format('truetype'),
    url('fonts/font-hui.woff?henoks') format('woff'),
    url('fonts/font-hui.svg?henoks#font-hui') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="hui-icon-"], [class*=" hui-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font-hui' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hui-icon-urgent-1:before {
  content: "\e94b";
}
.hui-icon-urgent-2:before {
  content: "\e94d";
}
.hui-icon-urgent-3:before {
  content: "\e94e";
}
.hui-icon-warn:before {
  content: "\e91b";
}
.hui-icon-success:before {
  content: "\e949";
}
.hui-icon-success-no-circle:before {
  content: "\e94a";
}
.hui-icon-warn-no-circle:before {
  content: "\e94c";
}
.hui-icon-bell:before {
  content: "\e900";
}
.hui-icon-cancel:before {
  content: "\e901";
}
.hui-icon-exclamation-mark:before {
  content: "\e902";
}
.hui-icon-eye:before {
  content: "\e903";
}
.hui-icon-lock:before {
  content: "\e904";
}
.hui-icon-square:before {
  content: "\e905";
}
.hui-icon-square-o:before {
  content: "\e906";
}
.hui-icon-user:before {
  content: "\e907";
}
.hui-icon-close:before {
  content: "\e908";
}
.hui-icon-trumpet:before {
  content: "\e909";
}
.hui-icon-yc:before {
  content: "\e90a";
}
.hui-icon-zc:before {
  content: "\e90b";
}
.hui-icon-list:before {
  content: "\e90c";
}
.hui-icon-map:before {
  content: "\e90d";
}
.hui-icon-oa:before {
  content: "\e90e";
}
.hui-icon-gcgl:before {
  content: "\e90f";
}
.hui-icon-kfys:before {
  content: "\e910";
}
.hui-icon-kjcx:before {
  content: "\e911";
}
.hui-icon-me:before {
  content: "\e912";
}
.hui-icon-skgl:before {
  content: "\e913";
}
.hui-icon-sqyb:before {
  content: "\e914";
}
.hui-icon-szgl:before {
  content: "\e915";
}
.hui-icon-szygl:before {
  content: "\e916";
}
.hui-icon-txl:before {
  content: "\e917";
}
.hui-icon-xx:before {
  content: "\e918";
}
.hui-icon-zhgl:before {
  content: "\e919";
}
.hui-icon-zhsw:before {
  content: "\e91a";
}
.hui-icon-info:before {
  content: "\e91c";
}
.hui-icon-jbxx:before {
  content: "\e91d";
}
.hui-icon-jc:before {
  content: "\e91e";
}
.hui-icon-member:before {
  content: "\e91f";
}
.hui-icon-path:before {
  content: "\e920";
}
.hui-icon-sksw:before {
  content: "\e921";
}
.hui-icon-xj:before {
  content: "\e922";
}
.hui-icon-phone:before {
  content: "\e923";
}
.hui-icon-add:before {
  content: "\e924";
}
.hui-icon-rgtb:before {
  content: "\e925";
}
.hui-icon-filter:before {
  content: "\e926";
}
.hui-icon-next:before {
  content: "\e927";
}
.hui-icon-play:before {
  content: "\e928";
}
.hui-icon-prev:before {
  content: "\e929";
}
.hui-icon-tzxx:before {
  content: "\e92a";
}
.hui-icon-calendar:before {
  content: "\e92b";
}
.hui-icon-back:before {
  content: "\e92c";
}
.hui-icon-clock:before {
  content: "\e92d";
}
.hui-icon-minus:before {
  content: "\e92e";
}
.hui-icon-search:before {
  content: "\e92f";
}
.hui-icon-circle:before {
  content: "\e930";
}
.hui-icon-jy:before {
  content: "\e931";
}
.hui-icon-jzc:before {
  content: "\e932";
}
.hui-icon-fzze:before {
  content: "\e933";
}
.hui-icon-lrzr:before {
  content: "\e934";
}
.hui-icon-money:before {
  content: "\e935";
}
.hui-icon-tz:before {
  content: "\e936";
}
.hui-icon-sc:before {
  content: "\e937";
}
.hui-icon-kf:before {
  content: "\e938";
}
.hui-icon-gw:before {
  content: "\e939";
}
.hui-icon-dfscb:before {
  content: "\e93a";
}
.hui-icon-dl:before {
  content: "\e93b";
}
.hui-icon-gsl:before {
  content: "\e93c";
}
.hui-icon-snh:before {
  content: "\e93d";
}
.hui-icon-szhgl:before {
  content: "\e93e";
}
.hui-icon-yl:before {
  content: "\e93f";
}
.hui-icon-zlsyh:before {
  content: "\e940";
}
.hui-icon-yshs:before {
  content: "\e941";
}
.hui-icon-ysjgdb:before {
  content: "\e942";
}
.hui-icon-yssssl:before {
  content: "\e943";
}
.hui-icon-xjgd:before {
  content: "\e944";
}
.hui-icon-qxrw:before {
  content: "\e945";
}
.hui-icon-gw2:before {
  content: "\e946";
}
.hui-icon-gjlb:before {
  content: "\e947";
}
.hui-icon-gclb:before {
  content: "\e948";
}
