@import './variable.less';

.Table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  margin-bottom: @margin-large;
  line-height: 1.5;
  th {
    text-align: left;
    white-space: nowrap;
    font-weight: 700;
    border-bottom: 1px solid #d8d8d8;
    padding: 15px;
    max-width: 250px;
  }
  td {
    padding: 10px;
  }
}
